<h2 class="page-header">Search Books</h2>
<form action='/books' method='GET'>
  <div class="form-row">
    <div class="form-item">
      <label for="name">Title</label>
      <input type="text" name='title' value='<%= searchOptions.title%>'>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="date">Published After</label>
      <input type="date" name='publishhedAfter' value='<%= searchOptions.publisedAfter%>'>
    </div>
    <div class="form-item">
        <label for="date">Published Before</label>
        <input type="date" name='publishhedBefore' value='<%= searchOptions.publisedBefore%>'>
      </div>
  </div>
<div class="form-row form-row-end">
  <button class="btn btn-primary" type="submit">Search</button>
</div>
</form>
<br>
<div>
    <%- include('../partials/bookGrid.ejs',{books:books})%>
</div>